<h1>Transaction - Verification Code</h1>
<p>
  Hello <%= @current_user.email %>, you must enter the verification code to the platform to successfully complete the transaction.
</p>
<p>
 Here is your verification code:
</p>
<strong>  <%= @verification_code   %>  </strong>

