<h1>Transaction - Verification Code</h1>
<p>
  Hello <%= @current_user.email %>, here is your verification code:
</p>
<p>
You must enter the verification code to the platform to successfully complete the transaction
</p>
<strong>  <%= @verification_code   %>  </strong>

