form {
  border: lightgray 1px solid;
  background-color: #cee2fd;
  padding: 2%;
  margin: 0 auto;
  max-width: 75%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 25%;

  input[type="text"],
  input[type="number"],
  select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 50%;
    background-color: lightgray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: gray;
  }
}
